@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<h1 class="container mx-auto">@ViewData["Title"]</h1>
<hr class="my-5"/>
<p class="container mx-auto">
    You have requested to log in with a recovery code. This login will not be remembered until you provide
    an authenticator app code at log in or disable 2FA and log in again.
</p>
<div class="row container mx-auto">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3 max-w-md">
                <label asp-for="Input.RecoveryCode" className="input input-bordered flex items-center gap-2">
                    RecoveryCode
                    <input asp-for="Input.RecoveryCode" class="grow form-control" autocomplete="off" placeholder="RecoveryCode" />
                </label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-outline">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}